@import "variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80vw;
  margin: 0 auto;
  @include phone {
    flex-direction: column;
    max-width: 95vw;
  }
}
