@import "variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include phone {
    flex-direction: column;
  }
}

// TODO: 廃止するかも
.information-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  & > div {
    width: 45%;
    padding: 1% 1.5% 0.5% 1.5%;
  }
  .information-img {
    padding: 0.5vh 0;
    img {
      max-width: 100%;
    }
  }
}
