@charset "UTF-8";
@media screen and (min-width: 769px) and (max-width: 1100px){
    *
    {
        font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-weight: bold;
    }

    html{
        height:100%;
    }

    /*ページの背景*/
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: auto;
        background-color: #ffffcc;
    }

    #wrapper {
        overflow: hidden;
        position: relative;
        /*max-width: 1000px;*/
        margin: 0 auto;   /*全体の中央寄せ*/
        background-color: #ffffee;
    }
    #container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 0px 265px;
        float: right;
        text-align: center;
        background-color: #ffffee;
    }

    /* メニュー */
    #menu {
        position: fixed;
        float: left;
        width: 250px;
        max-width: 100%;
        height: 100%;
        padding: 0 0;
        /* background: black; */
        background: #ffffe0;
        box-shadow: 3px 0 5px rgba(0,0,0,.3);
    }
    #menu-bar{
        position: absolute;
        display: block;
        margin: 0 0 30px;
        padding: 0;
    }
    #menu-bar li{
        position: relative;
        display: inline-block;
        width: 100%;
        list-style-type: none;
        text-align: left;
        margin: 0 0;
        padding: 8px 0 8px;
        transition: all 0.3s ease;
    }
    #menu-bar li:hover {
        border-left: 6px solid rgb(235,97,0);
        background: #bfbfa8;
    }
    /* #menu-bar li:before{
        background-color: rgb(235,97,0);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: width .2s ease-in;
        width: 3px;
        z-index: -1;
    } */
    #menu-bar li:hover:before{
        transition: width .2s ease-in;
        width: 100%;
    }
    #menu-bar li p {
        display: inline;
        color: #30302a;
        padding-left: 20px;
        font-size: 1.2em;
        text-decoration: none;
    }
    #menu-bar a {
        color: black;
    }
    .fa-example {
        font-size: 1.5em;
        color: #404038;
        margin: 0 0 0 15px;
    }

    /* Hamburger */
    .hamburger {
        display: none;
    }

    /* メニューバー囲むとこ */
    .bar_box {
        background-color: #ffffff;
        width: 100%;
        height: 55px;
        position: fixed;
        box-shadow: 0 3px 5px rgba(0,0,0,.3);
        z-index: 1;
    }
    #bar_sm {
        display: block;
        margin: 5px auto 0 auto;
        padding: 0px 0 0 250px;
        text-align: center;
        height: 55px;
    }
    #bar_pc {
        display: none;
    }

    /* スライドショー */
    .slide {
        width: 100%;
    }
    .swiper-container {
        margin-left: 250px;
        padding: 55px 0;
        z-index: 0;
    }
    .sm {
        display: none;
    }

    /* トピック */
    .topic_box {
        text-align: center;
        margin: 60px 0 15px 0;
    }
    .topic1 {
        font-size: 30px;
        margin: 0 0 8px 0px;
    }
    .hihn {
        margin: 0;
        height: 10px;
    }
    .hihn:after {
        content: '';
        position: absolute;
        /* bottom: 0; */
        left: 50%;
        width: 14px;
        height: 3px;
        margin-left: 118px;
        background-color: #eb6100;
    }
    .topic2 {
        font-size: 15px;
        color: #737373;
        margin: 0;
    }

    /* カード */
    .card {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 10px 7px;
        width: calc(50% - 18px);
        height: auto;
        background: #fff;
        text-align: center;
        /* -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
        box-shadow: 0 2px 5px rgba(0,0,0,.26); */
        transition: all .2s ease-in-out;
    }
    .card:hover {
        -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.24);
        box-shadow: 0 4px 10px rgba(0,0,0,0.24);
    }
    .card-img {
        max-width: 100%;
        max-height: 300px;
        height: auto;
    }
    .stats-container {
        background: #fff;
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 200px;
        padding: 0 8% 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    .card.animate .stats-container {
        top: 50%;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    .stats-container .product_name {
        font-weight: 900;
        font-size: 2vw;
        color: #393c45;
        display: block;
        margin: 2% 0;
    }
    .image_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eb6100;
        opacity: 0;
    }
    .card.animate .image_overlay {
        opacity: 0.7;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    .product-options {
	     padding:1vw 0 0;
         line-height: 2.182vw;
    }
    .product-options strong {
        font-weight: 700;
        color: #393c45;
        font-size: 1.53vw;
        line-height: 1.82vw;
    }
    .product-options span {
        color: #969699;
        font-size: 1.454vw;
        line-height: 1.82vw;
        float: left;
        text-align: left;
    }
    #view_details {
        position: absolute;
        top: 14%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: 2px solid #fff;
        color: #fff;
        font-size: 1.454vw;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4% 8%;
        width: 18.91vw;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    #view_details:hover {
        background: #fff;
        color: #eb6100;
        cursor: pointer;
    }
    .card.animate #view_details {
        opacity: 1;
        width: 17.09vw;
        font-size: 1.27vw;
        margin: 0 auto;
        padding: 3% 6%;
        top: 15%;
        left: 0;
        right: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }

    #new {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0 0;
        padding: 0 14px 20px;
        width: 100%;
        height: auto;
        background: #fff;
        border-top: 1px #eee solid;
        border-bottom: 1px #eee solid;
        transition: all .2s ease-in-out;
    }

    /* 一覧表示 */
    .more {
        margin: 40px auto 60px;
        border: 2px solid #eee;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 12px 0;
        width: 210px;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    .more a {
        padding: 0 0 0 20px;
        color: #737373;
    }
    .more:hover {
        border: 2px solid #eb6100;
    }
    .more:hover a {
        color: #eb6100;
    }

    .underline {
        text-decoration: underline;
    }
    dl {
        text-align: left;
        margin: 0;
    }
    dt {
        font-weight: 700;
        font-size: 18px;
        margin: 20px 0 5px 0;
        line-height: 27px;
    }

    /* 三角 */
    .header {
        background: url(../img/header.png) no-repeat;
        background-position: left center;
        background-size: auto 15px;
        padding-left: 20px;
        color: black;
    }

    .mainText{
        color: black;
    }

    /* 工大祭ロゴ */
    .rogobox {
        padding: 30px 0 0px;
        margin: 0 auto;
        background-color: #ffffff;
    }
    #rogo {
        width: 250px;
    }

  /* 水平線 */
  hr {
      border-top: 5px solid #c0c0c0;
  }

  /*コピーライト*/
  #right{
      text-align: center;
      font-size: small;
  }
}
/*センタリングして文は左寄せ*/
.centering-block{
    text-align: center;
}
.centering-block-inner{
    text-align: left;
    display: inline-block;
}

:root{
    /* color type A */
    --line_color : #555555 ;
    --back_color : #FFECF6  ;

    /* color type B */
    /* --line_color : #1b1919 ;
    --back_color : #E9ECFF  ; */

    /* color type C */
    /* --line_color : #00135C ;
    --back_color : #DEFFFA  ; */
}


div.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ;
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}
.button_container{
    width : 100% ;
    height : 150px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
