@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Playball&family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&family=Mochiy+Pop+P+One&display=swap");

.flipdownTitle {
  margin-bottom: 15px;
  font-family:
    Mochiy Pop P One,
    sans-serif;
  text-align: center;
  text-shadow: 4px 2px 6px rgba(80, 80, 80, 0.5);
  h1,
  h2 {
    margin: 0 0 8px 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
