:root{
    --background-color: #f2f2ff;
}
body{
    background: var(--background-color);
}
.information-title > span, .information-box > span, .big-title > span {
    background: var(--background-color);
}