@import "variables";

.hamburgerContent {
  display: none;
  flex-direction: column;
  width: auto;
  padding: 1.3rem;
}

.flex {
  display: flex;
}

@include phone {
  .hamburgerContent {
    display: block;
  }
}
