@import "variables";

.swiperContainer {
  :global {
    .swiper {
      width: 85vw;
      padding: 10px 0 60px;
      margin: 0 auto;
    }

    .swiper-wrapper {
      align-items: center;
      pointer-events: none;
    }

    .swiper-slide {
      width: auto;
      filter: blur(2px);
    }
    .swiper-slide-active {
      filter: blur(0);
    }

    .swiper-pagination-bullet {
      width: 15px !important;
      height: 15px !important;
      margin: 0 0 0 10px !important;
      background: var(--theme-color);
      transition: 0.5s;
    }

    @media screen and (max-aspect-ratio: 1/1) {
      .swiper {
        width: 100vw;
      }

      .swiper-wrapper {
        margin-bottom: 8px;
      }

      .swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
        cursor: default !important;
        background: var(--theme-color);
      }
    }
  }
}
