@import "variables";

.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 70vw;
  max-height: 22rem;

  overflow-y: scroll;
  scrollbar-color: var(--theme-color) transparent;
  scrollbar-width: thin;

  @include phone {
    max-width: 100%;
  }
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0.5rem;

  p {
    margin: 2px;
    font-weight: 600;
  }
}
.typography {
  white-space: nowrap;
}

.accordionDetailWrapper {
  padding: 2rem;
  padding-bottom: 1rem;

  p {
    font-weight: 600;
  }
}

.titleContainer {
  display: flex;
  gap: 0.5rem;
}
