@import "variables";

.pageTop {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  width: 90px;
  height: 90px;
  color: var(--theme-color);
  opacity: 1;
  transition: 0.5s;
  &:hover svg {
    top: -50px;
  }
  @include phone {
    display: none;
  }
  svg {
    position: absolute;
    top: -35px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    transition: 0.3s;
  }
}
.pageTop span {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
