@import "variables";

.contentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3.5% 2.5% 3.5%;
  margin-top: 1.8em;
  font-size: 1rem;
  border: solid 2px var(--theme-color);
  border-radius: 8px;
  & > span {
    position: absolute;
    top: -13px;
    left: 10px;
    display: inline-block;
    padding: 0 9px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;
    color: var(--theme-color);
    text-shadow: 1px 1px 1px rgb(247 121 30 / 20%);
    white-space: nowrap;
    background: #fff;
    @include phone {
      font-size: 1.1rem;
    }
  }
  p {
    padding: 0;
    margin: 0;
    @include phone {
      font-size: 1rem;
    }
  }
  a {
    text-decoration: underline;
  }
}
.contentBox ul {
  padding-left: 20px;
  margin-bottom: 0;
  @include phone {
    padding-left: 15px;
    font-size: 1rem;
  }
}

// TODO: 廃止するかも
.information-live-news-block {
  width: 60%;
}
.information-live-news {
  margin-bottom: 1%;
  /* background-color: #ffc434; */
  background-color: var(--theme-color);
  border: thin solid transparent;
}
.information-live-news .information-title {
  margin-top: 5px !important;
}
.information-live-news div {
  padding: 2%;
  margin: 1%;
  background-color: white;
}
.information-live-news div p {
  margin: 0;
}
