main {
  padding-top: calc(var(--main-padding-top) + 8vw);
}
.collapse:not(.show):not(.collapsing) {
  height: 0;
  padding: 0;
}
.collapse:not(.show):not(.collapsing)[style] > div {
  display: none;
}







.brochure-img {
  justify-content: center;
  padding: 3vh 0 1vh 0;
}
.project-tag {
  margin: 5% 1% 0 1%;
}



.pc-only {
  display: none;
}
.phone-only {
  display: block;
}

.pre-festival {
  margin-top: 10%;
  width: 98%;
}
.pre-festival-thum {
  max-height: 7vh;
  height: 13vw;
  margin: 0.8%;
}
