@import "variables";

:root {
  --theme-color: #f7791e;

  --day-both: rgb(43 178 246 / 90%);
  --day1: rgb(50 206 18 / 90%);
  --day2: rgb(234 197 37 / 90%);
  --exclusive: rgb(255 62 62 / 90%);

  --twitter: black;
  --instagram: #ff59e3;
  --youtube: #ff0000;

  --fcc-separator-size: 8px !important;
  @include phone {
    --fcc-spacing: 3px !important;
    --fcc-separator-size: 6px !important;
  }
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
main {
  padding-top: calc(var(--main-padding-top));
  --main-padding-top: 60px;
  overflow-x: hidden;
  @include phone {
    --main-padding-top: 50px;
  }
}
img {
  object-fit: contain;
}

.setTimer {
  display: none;
}

.sponsor {
  display: flex;
  justify-content: center;
}
.sponsor a {
  width: 100%;
}
.sponsor img {
  width: 100%;
  object-fit: contain;
}

.pre-festival {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding: 1% 1% 0 1%;
  margin: 0 auto;
}
.pre-festival span {
  font-size: 30px !important;
}
.pre-festival > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.pre-festival > h1 {
  margin: 0;
}
.pre-festival-thum {
  display: flex;
  align-items: center;
  height: 4.5vw;
  max-height: 65px;
  margin: 0.5%;
  border: thin solid black;
  border-radius: 5px;
}
.pre-festival-thum img {
  height: 100%;
  object-fit: cover;
}

.pc-only {
  display: block;
}
.phone-only {
  display: none;
}
