@import "variables";

:root {
  --theme-color: #f7791e;

  --day1: rgb(50 206 18 / 90%);
  --day2: rgb(234 197 37 / 90%);
  --raffle-reserve: rgb(255 62 62 / 90%);
  --day-both: rgb(43 178 246 / 90%);

  --twitter: black;
  --instagram: #ff59e3;
  --youtube: #ff0000;
}
body {
  margin: 0;
}
main {
  padding-top: calc(var(--main-padding-top));
  overflow-x: hidden;
  --main-padding-top: 60px;
  @include phone {
    --main-padding-top: 30px;
  }
}
img {
  object-fit: contain;
}

.brochure-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8vh 0 3vh 0;
}
.brochure-img img {
  max-width: 90%;
  max-height: 70vh;
}
.brochure-img img.decoration {
  border: thin solid #7d7d7da3;
  border-radius: 10px;
  box-shadow: 9px 8px 5px 0px rgb(140 140 140 / 25%);
  transition: 0.5s;
}
/* a .brochure-img img.decoration:hover,
a .brochure-img img.decoration:active {
  box-shadow: 12px 11px 5px 0px rgb(140 140 140 / 25%);
  transform: translate(-2px, -3px);
} */

.project-logo {
  display: flex;
  justify-content: center;
}
.project-logo img {
  max-width: 90%;
  max-height: 20vh;
}
table.project-table {
  width: 100%;
  margin: 1vh auto 0 auto;
  border-collapse: collapse;
}
table.project-table tr {
  border-bottom: medium solid white;
}
table.project-table tr:first-child th,
table.project-table tr:first-child td {
  color: white;
  background-color: var(--theme-color);
}
table.project-table tr:first-child td {
  border-left: thick solid white;
}
table.project-table tr td:nth-child(3) {
  border-left: medium solid white;
}
table.project-table tr:first-child th:after {
  border-left: 10px solid var(--theme-color);
}
table.project-table tr:last-child {
  border-bottom: none;
}
table.project-table th {
  position: relative;
  padding: 10px 8px;
  color: white;
  text-align: left;
  text-align: center;
  background-color: #29c6da;
}
table.project-table tr:not(:first-child) th:after {
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  display: block;
  width: 0px;
  height: 0px;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #29c6da;
}
table.project-table td {
  min-width: 60%;
  padding: 3px 5px 3px 13px;
  text-align: left;
  text-align: center;
  background-color: #eee;
}
table.project-table td span {
  font-size: 0.95rem;
}
.project-tag {
  margin: 0 1%;
}
.project-tag span {
  padding: 5px 18px 5px 18px;
  margin: 2px;
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  border-radius: 20px;
}
.project-day1-tag {
  background: var(--day1);
}
.project-day2-tag {
  background: var(--day2);
}
.project-day-both-tag {
  background: var(--day-both);
}
.project-raffle-reserve-tag {
  background: var(--raffle-reserve);
}
.setTimer {
  display: none;
}

.page_top {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  display: none;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.page_top a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.page_top a::before {
  position: absolute;
  top: -38px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  color: var(--theme-color);
  text-align: center;
  content: "\f102";
  transition: 0.3s;
}
.page_top a:hover::before {
  top: -50px;
}
.page_top a::after {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  color: var(--theme-color);
  text-align: center;
  content: "PAGE TOP";
}

.sponsor {
  display: flex;
  justify-content: center;
}
.sponsor a {
  width: 100%;
}
.sponsor img {
  width: 100%;
  object-fit: contain;
}

.pre-festival {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding: 1% 1% 0 1%;
  margin: 0 auto;
}
.pre-festival span {
  font-size: 30px !important;
}
.pre-festival > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.pre-festival > h1 {
  margin: 0;
}
.pre-festival-thum {
  display: flex;
  align-items: center;
  height: 4.5vw;
  max-height: 65px;
  margin: 0.5%;
  border: thin solid black;
  border-radius: 5px;
}
.pre-festival-thum img {
  height: 100%;
  object-fit: cover;
}

.highlight-underline {
  border-bottom: solid 2px #3eafff;
}
a.highlight-underline {
  color: #16a085;
}

.pc-only {
  display: block;
}
.phone-only {
  display: none;
}
