:root {
  --theme-color: #f7791e;

  --day1: rgb(50 206 18 / 90%);
  --day2: rgb(234 197 37 / 90%);
  --raffle-reserve: rgb(255 62 62 / 90%);
  --day-both: rgb(43 178 246 / 90%);

  --twitter: black;
  --instagram: #ff59e3;
  --youtube: #ff0000;
}
body {
  margin: 0;
}
main {
  --main-padding-top: calc(3vw + 14px + 1.3vh);
  padding-top: calc(var(--main-padding-top) + 2vw);
}
img {
  object-fit: contain;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-sns {
  min-width: 60vw;
  margin: 2vh auto 0 auto;
}




.brochure-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8vh 0 3vh 0;
}
.brochure-img img {
  max-width: 90%;
  max-height: 70vh;
}
.brochure-img img.decoration {
  box-shadow: 9px 8px 5px 0px rgb(140 140 140 / 25%);
  border-radius: 10px;
  border: thin solid #7d7d7da3;
  transition: 0.5s;
}
/* a .brochure-img img.decoration:hover,
a .brochure-img img.decoration:active {
  box-shadow: 12px 11px 5px 0px rgb(140 140 140 / 25%);
  transform: translate(-2px, -3px);
} */

.project-logo {
  display: flex;
  justify-content: center;
}
.project-logo img {
  max-height: 20vh;
  max-width: 90%;
}
table.project-table {
  width: 100%;
  margin: 1vh auto 0 auto;
  border-collapse: collapse;
}
table.project-table tr {
  border-bottom: medium solid white;
}
table.project-table tr:first-child th,
table.project-table tr:first-child td {
  background-color: var(--theme-color);
  color: white;
}
table.project-table tr:first-child td {
  border-left: thick solid white;
}
table.project-table tr td:nth-child(3) {
  border-left: medium solid white;
}
table.project-table tr:first-child th:after {
  border-left: 10px solid var(--theme-color);
}
table.project-table tr:last-child {
  border-bottom: none;
}
table.project-table th {
  position: relative;
  text-align: left;
  background-color: #29c6da;
  color: white;
  text-align: center;
  padding: 10px 8px;
}
table.project-table tr:not(:first-child) th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #29c6da;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
table.project-table td {
  min-width: 60%;
  text-align: left;
  text-align: center;
  background-color: #eee;
  padding: 3px 5px 3px 13px;
}
table.project-table td span {
  font-size: 0.95rem;
}
.project-tag {
  margin: 0 1%;
}
.project-tag span {
  margin: 2px;
  padding: 5px 18px 5px 18px;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 20px;
}
.project-day1-tag {
  background: var(--day1);
}
.project-day2-tag {
  background: var(--day2);
}
.project-day-both-tag {
  background: var(--day-both);
}
.project-raffle-reserve-tag {
  background: var(--raffle-reserve);
}
.setTimer {
  display: none;
}



.sns-float {
  z-index: 1;
  position: fixed;
  left: 3%;
  bottom: 8%;
}
.sns-float-list,
.header-sns-float-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header-sns-float-list {
  flex-direction: row;
  justify-content: space-evenly;
}
.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: visible;
  padding: 0;
}
.follow-me li {
  position: relative;
  top: 0;
  transition: top 0.5s;
  float: left;
  margin: 0 8px 13px 0;
  padding: 0;
  opacity: 0;
}
.header-sns > .follow-me li {
  margin: 0;
}
.follow-me li:hover {
  top: 5px;
}
.follow-me li a::before {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 45px;
}
.follow-me li a[href*="twitter.com"]::before {
  border-color: var(--twitter);
  color: var(--twitter);
  content: "\e61b";
}
.follow-me li a[href*="twitter.com"]:hover::before {
  background-color: var(--twitter);
  color: #ffffff;
}
.follow-me li a[href*="instagram.com"]::before {
  border-color: var(--instagram);
  color: var(--instagram);
  content: "\f16d";
}
.follow-me li a[href*="instagram.com"]:hover::before {
  background-color: var(--instagram);
  color: #ffffff;
}
.follow-me li a[href*="youtube.com"]::before {
  border-color: var(--youtube);
  color: var(--youtube);
  content: "\f16a";
}
.follow-me li a[href*="youtube.com"]:hover::before {
  background-color: var(--youtube);
  color: #ffffff;
}

.page_top {
  display: none;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 3%;
  right: 1.5%;
  border-radius: 50px;
}
.page_top a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
.page_top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  font-size: 25px;
  color: var(--theme-color);
  position: absolute;
  width: 25px;
  height: 25px;
  top: -38px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  transition: 0.3s;
}
.page_top a:hover::before {
  top: -50px;
}
.page_top a::after {
  content: "PAGE TOP";
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: var(--theme-color);
  font-weight: 700;
}

.sponsor {
  display: flex;
  justify-content: center;
}
.sponsor a {
  width: 100%;
}
.sponsor img {
  object-fit: contain;
  width: 100%;
}

.pre-festival {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1% 1% 0 1%;
  width: 85%;
}
.pre-festival span {
  font-size: 30px !important;
}
.pre-festival > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.pre-festival > h1 {
  margin: 0;
}
.pre-festival-thum {
  display: flex;
  max-height: 65px;
  height: 4.5vw;
  margin: 0.5%;
  align-items: center;
  border: thin solid black;
  border-radius: 5px;
}
.pre-festival-thum img {
  object-fit: cover;
  height: 100%;
}

.highlight-underline {
  border-bottom: solid 2px #3eafff;
}
a.highlight-underline {
  color: #16a085;
}

.pc-only {
  display: block;
}
.phone-only {
  display: none;
}
