@import "variables";

.project {
  &Tag {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 13px 10px 0;
    span {
      padding: 5px 18px 3px;
      margin: 3px 5px;
      font-size: 1.2rem;
      font-weight: 800;
      color: white;
      white-space: nowrap;
      white-space: nowrap;
      border-radius: 20px;
    }
    @include phone {
      margin: 20px 4px 0;
    }
  }
  &BothTag {
    background: var(--day-both);
  }
  &Day1Tag {
    background: var(--day1);
  }
  &Day2Tag {
    background: var(--day2);
  }
  &ExclusiveTag {
    background: var(--exclusive);
  }
}
