
.contentImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5vh 0;
  img {
    width: 90%;
    max-width: 90%;
    max-height: 65vh;
    object-fit: cover;
    &.decoration {
      border: thin solid #7d7d7da3;
      border-radius: 10px;
      box-shadow: 9px 8px 5px 0px rgb(140 140 140 / 25%);
      transition: 0.5s;
    }
  }
}
// a .contentImage img.decoration:hover,
// a .contentImage img.decoration:active {
//   box-shadow: 12px 11px 5px 0px rgb(140 140 140 / 25%);box-shadow
//   transform: translate(-2px, -3px);transform
// }

@media screen and (max-width: 767px) {
  .contentBox > span {
    font-size: 1.1rem;
  }
  .contentBox p {
    font-size: 1rem;
  }
  .contentBox ul {
    padding-left: 15px;
    font-size: 1rem;
  }
  .contentImage img {
    max-width: 95%;
    max-height: 58vh;
  }
}
