@import "variables";

.contentImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5vh 0;
  img {
    width: 90%;
    max-width: 90%;
    max-height: 65vh;
    object-fit: cover;
    @include phone {
      max-width: 95%;
      max-height: 58vh;
    }
  }
}
