@import "variables";

.title {
  font-size: 25px;
  text-align: center;
  background: linear-gradient(to right, gold, var(--theme-color), #f935ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include phone {
    font-size: 18px;
  }
}

.lastYear {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
