@import "variables";

.banner {
  display: inline;
  width: 100%;
  max-height: 45px;
  margin: 6px 10px 4px;
  vertical-align: middle;
}

@include phone {
  .banner {
    width: 100%;
    max-height: 6vh;
    margin: 3% auto 2% auto;
  }
  .bannerLink {
    width: 75vw;
    margin: 0 2vw 0 auto;
  }
}
