@import "variables";

.bannerLink {
  @include phone {
    width: 100%;
    padding: 10px 4px 7px 10px;
  }
}

.banner {
  display: inline;
  width: 100%;
  max-height: 45px;
  margin: 6px 10px 4px;
  vertical-align: middle;
  @include phone {
    width: 100%;
    max-height: 6vh;
    margin: 0;
  }
}
