@import "variables";

// navItem
.navItem {
  position: relative;
  margin: 0 0.8vw;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-shadow: 2px 2px 1px rgb(180 180 180 / 40%);
  white-space: nowrap;
  transition: all 200ms linear;
  @include phone {
    padding-left: 1.5rem;
  }
}
.navItem:hover > a {
  text-shadow: 2px 2px 2px rgb(247 121 30 / 30%);
}
.navItem > a {
  font-size: 1.4rem;
  @include phone {
    font-size: 1.3rem;
  }
}
.navItem:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--theme-color);
  opacity: 0;
  transition: all 200ms linear;
  @include phone {
    display: none;
  }
}
.navItem:hover:after {
  bottom: 3px;
  opacity: 1;
}

// dropdownIcon
.dropdownIcon {
  position: absolute;
  top: 10px;
  left: 1px;
  display: none;
  width: 24px;
  height: 24px;
  @include phone {
    display: block;
  }
}

// navLink
.navItem:hover .navLink {
  color: var(--theme-color) !important;
}
.navLink {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.3vw !important;
  font-size: 18px;
  color: black !important;
  text-decoration: none;
  transition: all 200ms linear;
  @include phone {
    padding: 0;
  }
}
.navItem:not(.nonExpandable) > .navLink:active {
  pointer-events: none;
}
.navItem:not(.nonExpandable) > .navLink {
  cursor: default;
}

// dropdownMenu
.dropdownMenu {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  @include phone {
    position: relative;
    background-color: var(--light);
  }
}

.dropdownItemsContainer {
  padding: 5px;
}

// dropdown-item
.dropdownItem {
  display: grid;
  padding: 3px 5px !important;
  margin: 3px 10px;
  font-size: 15px;
  font-weight: 600 !important;
  line-height: 1.5;
  color: #212121;
  text-decoration: none;
  background-color: transparent !important;
  border-radius: 2px;
  @include phone {
    font-size: 1.1rem;
  }
}
.dropdownItem:hover {
  text-shadow: 2px 2px 2px rgb(247 121 30 / 30%);
}
.dropdownItem:hover,
.dropdownItem:focus {
  color: var(--theme-color) !important;
}
