// navItem
.navItem {
  margin: 0 0.8vw;
  position: relative;
  transition: all 200ms linear;
  font-weight: 700;
  white-space: nowrap;
  text-shadow: 2px 2px 1px rgb(180 180 180 / 40%);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.navItem:hover > a {
  text-shadow: 2px 2px 2px rgb(247 121 30 / 30%);
}
.navItem > a {
  font-size: 1.4rem;
}
.navItem:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--theme-color);
  opacity: 0;
  transition: all 200ms linear;
}
.navItem:hover:after {
  bottom: 3px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .navItem {
    padding-left: 1.5rem;
  }
  .navItem > a {
    font-size: 1.3rem;
  }
  .navItem:after {
    display: none;
  }
  .navItem:not(.nonExpandable):hover .dropdown-toggle + .dropdownMenu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .navLink {
    padding: 0;
  }
}

// navLink
.navItem:hover .navLink {
  color: var(--theme-color) !important;
}
.navLink {
  color: black !important;
  position: relative;
  display: inline-block;
  transition: all 200ms linear;
  padding: 0.5rem 0.3vw !important;
  font-size: 18px;
}
.navItem:not(.nonExpandable) > .navLink:active {
  pointer-events: none;
}
.navItem:not(.nonExpandable) > .navLink {
  cursor: default;
}

// dropdownMenu
.dropdownMenu {
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  max-height: 0;
  display: block;
  visibility: hidden;
  padding: 10px !important;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 200ms linear;
}
.navItem:hover .dropdownMenu {
  opacity: 1;
  display: block;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
@media screen and (max-width: 768px) {
  .dropdownMenu {
    transform: translate3d(0, -10px, 0);
  }
  .navItem:hover .dropdownMenu {
    position: relative;
    background-color: var(--light);
  }
}

// dropdown-item
.dropdownItem {
  margin: 3px 10px;
  padding: 3px 5px !important;
  color: #212121;
  background-color: transparent !important;
  font-size: 15px;
  font-weight: 600 !important;
  border-radius: 2px;
  transition: all 200ms linear;
  line-height: 1.5;
}
.dropdownItem:hover {
  text-shadow: 2px 2px 2px rgb(247 121 30 / 30%);
}
.dropdownItem:hover,
.dropdownItem:focus {
  color: var(--theme-color) !important;
}
@media screen and (max-width: 768px) {
  .dropdownItem {
    font-size: 1.1rem;
  }
}
