.hamburgerIconContainer {
  position: relative;
  display: none;
  justify-content: center;
  width: 12vw;
  margin-right: 1vw;
}

.hamburgerIconButton {
  position: absolute;
  top: -18px;
  z-index: 4;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
}

.hamburgerIcon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .hamburgerIconContainer {
    display: flex;
  }
}
