@import "variables";

.hamburgerIconContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12vw;
  @include phone {
    display: flex;
  }
}

.hamburgerIconButton {
  position: absolute;
  z-index: 4;
  width: 36px;
  height: 36px;
  background: none;
  border: none;
}

.hamburgerIcon {
  position: absolute;
  width: 24px;
  height: 24px;
}
