@import "variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  transition: all 0.3s ease-out;
  &:has(.scrollOn) {
    top: 15px;
  }
}

.headerMain {
  display: flex;
  justify-content: space-evenly;
}

.navigationContainer {
  padding: 8px 0 6px 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: all 0.3s ease-out;
  transform: translateY(0);
  &.scrollOn {
    padding: 4px 0 2px 0;
    margin: 0 3vw 0;
    border-radius: 50px;
    box-shadow: 5px 10px 20px 0 rgb(150 150 150 / 50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  @include phone {
    padding: 0 !important;
    &.scrollOn {
      border-radius: 13px;
    }
  }
}

.navigation {
  display: block !important;
  width: 100%;
  padding: 0 !important;
}
