.contentTitle {
  margin-top: 4vh;
  font-weight: 800;
  text-align: center;
  & > span {
    position: relative;
    padding: 0 2vw;
    background: #fff;
  }
}

.bigTitle {
  margin: 3vh 20vw 1vh;
  font-weight: 800;
  text-align: center;
}
.fontEffect {
  position: relative;
  font-family: sans-serif !important;
  color: #2c2c2c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  &:before {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: var(--theme-color);
  }
}
h1.fontEffect > span {
  font-size: 55px;
  text-shadow:
    3px 3px 0px #d5d5d5,
    6px 6px 0px rgba(0, 0, 0, 0.2);
}
h2.fontEffect > span {
  font-size: 45px;
  text-shadow:
    2px 2px 0px #d5d5d5,
    4px 4px 0px rgba(0, 0, 0, 0.2);
}
h3.fontEffect > span {
  font-size: 35px;
  text-shadow:
    1.5px 1.5px 0px #d5d5d5,
    3px 3px 0px rgba(0, 0, 0, 0.2);
}
h4.fontEffect > span {
  font-size: 28px;
  text-shadow:
    1.5px 1.5px 0px #d5d5d5,
    2.3px 2.3px 0px rgba(0, 0, 0, 0.2);
}
h5.fontEffect > span {
  font-size: 23px;
  text-shadow:
    1.3px 1.3px 0px #d5d5d5,
    2px 2px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .bigTitle {
    margin: 5% 3%;
  }

  h1.fontEffect > span {
    font-size: 3rem;
  }
  h2.fontEffect > span {
    font-size: 2.5rem;
  }
  h3.fontEffect > span {
    font-size: 2rem;
  }
  h4.fontEffect > span {
    font-size: 1.5rem;
  }
  h5.fontEffect > span {
    font-size: 1rem;
  }
}
