@import "variables";

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  justify-content: center;
  max-width: 83vw;
  margin: 0 auto;
  @include phone {
    max-width: 98vw;
  }
}
