@import "variables";

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  justify-content: center;
  margin: 0 auto;
  @include phone {
    gap: 13px 0;
    justify-content: space-evenly;
  }
}
