@import "variables";

.swiperCardVertical {
  width: auto !important;
  height: 63vh !important;
  max-height: 100%;

  @include phone {
    width: 85vw !important;
    max-width: 85vw;
    height: auto !important;
    max-height: 100%;
  }
}

.swiperCardHorizontalMini {
  width: auto !important;
  height: 38vh !important;
  max-height: 100%;

  @include phone {
    width: 85vw !important;
    max-width: 85vw;
    height: auto !important;
    max-height: 100%;
  }
}
.swiperCardHorizontal {
  width: auto !important;
  height: 45vh !important;
  max-height: 100%;

  @include phone {
    width: 85vw !important;
    max-width: 85vw;
    height: auto !important;
    max-height: 100%;
  }
}
.swiperCardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: end;
  pointer-events: auto;
  border-right: 1px solid hsla(0, 0%, 78%, 0.8);
  border-bottom: 1px solid hsla(0, 0%, 78%, 0.8);
  border-radius: 10px;
  box-shadow: 15px 13px 8px 3px rgba(85, 85, 85, 0.5);

  & img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &:hover {
    & .swiperNameHovered {
      text-shadow: 2px 1px 1px var(--theme-color);
      background-size:
        0 3px,
        100% 3px;
    }
    & .swiperArrowHovered {
      transform: translate(4px, -1px);
    }
  }
}

.swiperSlideMask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    200deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(100 100 100 / 10%) 50%,
    rgb(30 30 30 / 60%) 100%
  );
  border-radius: 10px;
}

.swiperSlideDetail {
  position: absolute;
  z-index: 1;
  margin-bottom: 10px;

  @include phone {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
}
