.informationContentFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.informationContentFlex > div {
  flex: 1 1 auto;
  margin: 10px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.informationBlock {
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 2%;
  font-weight: 600;
}

.contentImage {
  padding: 0vh 0;
}
