body {
  color: white;
  background: linear-gradient(
    135deg,
    #00367e,
    #1a0502,
    #0b1220,
    #040a21,
    #670024
  );
}

.contentTitle {
  &:before {
    display: none;
  }
  span {
    color: white;
    text-shadow:
      3px 3px 0px #885858,
      6px 6px 0px rgb(255 61 61 / 20%) !important;
    background: none;
  }
}

.contentBox {
  > span:first-child {
    background: rgb(14, 18, 31);
  }
}
