.preFestival {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding: 1% 1% 0 1%;
  margin: 0 auto;
}

.preFestivalTitle {
  margin: 3vh 20vw 1vh;
  font-weight: 800;
  text-align: center;
}

.preFestival span {
  font-size: 30px !important;
}

.preFestival > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.preFestivalThum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
  margin: 5px;
  overflow: hidden;
  background-color: white;
  border: thin solid black;
  border-radius: 5px;
}

.preFestivalThum img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.bigTitle {
  margin: 3vh 20vw 1vh;
  font-weight: 800;
  text-align: center;
}

.fontEffect {
  font-family: sans-serif !important;
  color: #2c2c2c;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
}

.retroshadow {
  text-shadow:
    1.5px 1.5px 0px #d5d5d5,
    2.3px 2.3px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .preFestival {
    width: 98%;
    margin-top: 10%;
  }
  .preFestivalThum {
    height: 13vw;
    max-height: 7vh;
    margin: 3px;
  }
}
