@import "variables";

.preFestival {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  padding: 1% 1% 0 1%;
  margin: 0 auto;
}

.preFestival span {
  font-size: 30px !important;
}

.preFestival > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.preFestivalThum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
  margin: 5px;
  overflow: hidden;
  background-color: white;
  border: thin solid black;
  border-radius: 5px;
}

.preFestivalThum img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

@include phone {
  .preFestival {
    width: 98%;
    margin-top: 10%;
  }
  .preFestivalThum {
    height: 13vw;
    max-height: 7vh;
    margin: 3px;
  }
}
